[user]
	name = Andrey Petrov
	email = andreyp.kt@gmail.com
[github]
	user = andreyp
[alias]
	incoming = "!git remote update -p; git log ..@{u}"
	outgoing = log @{u}..
    	graph = log --graph --oneline --all
[color]
	branch = auto
	diff = always
	interactive = auto
	status = auto
	ui = true
[core]
	editor = vim
